# Dependencies
node_modules/

# Build
dist/
*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
Thumbs.db

# Env
.env
.env.*.local

# Vite
.vite/

# TypeScript
*.tsbuildinfo
